 <!--  refer: https://tomcat.apache.org/tomcat-7.0-doc/config/http.html#Connector_Comparison  -->
 
 # 线上验证过
 <Connector port="8080" protocol="HTTP/1.1"
               acceptCount="10000" maxThreads="1000"
               minSpareThreads="100"
               connectionTimeout="20000" URIEncoding="UTF-8"
                redirectPort="8443" maxHttpHeaderSize="8192" />


